@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.navbar input[type="checkbox"],
.navbar .temp-lines {
  display: none;
}
.navbar {
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
.tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
  }
  .main-title {
    text-transform: uppercase;
    margin-top: 1.5em;
  }
  #about {
    padding: 50px 0;
    background: #f5f5f7;
  }
  .about-inside {
    display: flex;
    flex-wrap: wrap;
  }
  #about h2 {
    font-size: 2.3rem;
  }
  #about p {
    font-size: 1.2rem;
    color: #555;
  }
  #about .small {
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
  }
  

